
.footer-wrapper {
  background-color: #1C1C1C;
  color: #fff;
  .footer-container {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    .footer-top {
      overflow: hidden;
      padding-bottom: 20px;
      border-bottom: 1px solid #666;
      .service-list, .case-list, .process-list, .contact-wrapper {
        float: left;
      }
      .service-list, .case-list, .process-list {
        margin-right: 90px;
        &:before {
          content: attr(data-before);
          display: block;
          font-size: 16px;
          color: #666;
          margin-bottom: 10px;
        }
        ul {
          li {
            margin-bottom: 10px;
            .txt {
              font-size: 14px;
              color: #666;
              display: block;
            }
          }
        }
      }
      .contact-wrapper {
        float: left;
        display: flex;
        width: 600px;
        overflow: hidden;
        .contact-left, .contact-right {
          flex: 1;
        }
        .contact-left {
          flex: 0 0 400px;
          .logo {
            display: block;
            position: relative;
            color: #a3a3a3;
            font-size: 18px;
            margin-bottom: 35px;
            margin-top: 10px;
            &:before {
              content: '';
              display: inline-block;
              vertical-align: middle;
              width: 43px;
              height: 32px;
              margin-right: 14px;
              background: url("../../assets/images/sprite.png") no-repeat;
              background-position: -107px -38px;
            }
          }
          .txt-wrapper {
            .txt {
              font-size:14px;
              color:#a3a3a3;
              display: block;
              margin-bottom: 10px;
            }
          }
        }
        .contact-right {
          flex: 120px 0 0;
          .img {
            width: 110px;
            height: 100px;
            display: block;
            margin: 15px auto;
            background-color: #fff;
          }
          &:after {
            content: attr(data-after);
            display: block;
            white-space: nowrap;
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }
    .footer-bottom {
      overflow: hidden;
      padding: 15px 0;
      .link-wrapper {
        float: left;
        .txt {
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
          color: #666;
          margin-right: 24px;
        }
      }
      .copyright-wrapper {
        float: right;
        .txt {
          font-size: 14px;
          color: #666;
        }
      }
    }
  }
}
