.mobile-wrapper {
  .common-section {
    &.first-section {
      background: url("../assets/images/banner-mobile.jpg") top center no-repeat;
    }
    &.second-section {
      .tabs-wrapper {
        .tabs-header {
          border-bottom: 1px solid #D8D8D8;
          .mobile-container {
            ul {
              font-size: 0;
              text-align: center;
              li {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                margin: 0 10px;
                .txt {
                  font-size: 16px;
                  color: #000;
                  display: block;
                  padding: 30px 30px;
                }
                &.active {
                  .txt {
                    color: #246AB3;
                  }
                  &:after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    left: 0;
                    bottom: -1px;
                    height: 1px;
                    background-color: #246AB3;
                  }
                }
              }
            }
          }
        }
        .tabs-content {
          margin: 30px 0;
          .mobile-container {
            width: 1209px;
            .tabs-app, .tabs-subscription, .tabs-program {
              display: none;
              ul {
                font-size: 0;
                li {
                  display: inline-block;
                  vertical-align: middle;
                  width: 393px;
                  height: 288px;
                  margin: 20px 5px;
                  .img-wrapper {
                    height: 222px;
                    overflow: hidden;
                    .img {
                      max-width: 100%;
                      -webkit-transition: all .2s ease .2s;
                      -moz-transition: all .2s ease .2s;
                      -ms-transition: all .2s ease .2s;
                      -o-transition: all .2s ease .2s;
                      transition: all .2s ease .2s;
                    }
                    &:hover {
                      .img {
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        -o-transform: scale(1.1);
                        transform: scale(1.1);
                      }
                    }
                  }
                  .txt-wrapper {
                    padding: 15px;
                    .txt-title, .txt-summary {
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      display: block;
                      overflow: hidden;
                    }
                    .txt-title {
                      font-size: 18px;
                      color: #000;
                      margin-bottom: 5px;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                    .txt-summary {
                      font-size: 14px;
                      color: #000;
                    }
                  }
                }
              }
              &.active {
                display: block;
              }
            }
          }
        }
      }
    }
    .mobile-container {
      width: 1200px;
      margin: 0 auto;
      .service-wrapper {
        height: 530px;
        .corp-info {
          padding-top: 160px;
          color: #fff;
          text-align: center;
          &:before {
            content: attr(data-before);
            display: block;
            font-size: 32px;
            margin-bottom: 40px;
          }
          .txt {
            font-size: 16px;
            color: #f6f6f6;
            line-height: 32px;
            display: block;
          }
        }
      }
    }
  }
}
@media (max-width: 1280px) {
}
